## Java
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

## Gradle
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar



## NetBeans
nbproject/private/
build/
nbbuild/
nbproject/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
manifest.mf
target/
